.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

h1{
  font-family: "poppins", sans-serif;
}

.headbox{
  background-color: #e9cb20;
  padding:20px;
  font-weight: 900s;
}

.bodytext{
  width:90%;
  background-color: #f4f4f4;
}

.sidebox{
  width:400px;
  background-color: #666666;
  float:right;
  margin: 0 0 0 0 20px;
}

table {font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: normal;
  color: #ffffff;
}


